* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    background: rgb(41, 41, 41);
    border-top: 5px solid rgb(179, 32, 32);
}

.nav-grid {
    display: grid;
    grid-template-columns: 225px 1fr;
}

.logo {
    color: white;
    margin-top: 18px;
    font-size: 25px;
}

.logo b {
    color:   rgb(179, 32, 32);
}

/*Header*/

ul.menu {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-items: center;
    margin-top: 4%;
}

ul.menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

ul.menu li {
    list-style: none;
}

.menu :hover {
   
    color: rgb(224, 66, 66);
}

/*menu*/

/*-----------------------------name------------------------------------*/

.name {
    display: grid;
    width: 100%;
    height: 200px;
    background-position: center;
    background-image: url(../jpg/name1.png);
    background-size:  100%;
    text-align: center;
}
.myname h1 {
    margin-top: 80px;
    font-size: 40px;
    color: rgb(224, 66, 66);
}

.myname hr {
    color:  white;
    width: 200px;
    margin: auto;
    margin-top: 20px
}

/*---------------------------------content---------------------------*/

.content {
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}


.content-welcome img {
    width: 100%;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0 ,0 , 0, 0.6);
}

.content-welcome {
    text-align: center;
    margin: 0 20px;
}
.content-welcome-grid {
    display: grid;
    grid-template-columns: 40% 1fr;
}

.content-welcome-item2 h2 {
    font-size: 35px;
    margin-top: 100px;
    color:  rgb(153, 27, 27);
}

.content-welcome-item2 p {
    margin-top: 20px;
    margin-left: 30px;
}

.content-welcome hr {
    margin: auto;
    width: 200px;
    color:  rgb(153, 27, 27);
    margin-top: 40px;
}

/*--end content-welcome---*/

.content-about {
    width: 100%;
    margin-top: 50px;
}

.content-about img {
    width: 100%;
    border-radius: 10%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0 ,0 , 0, 0.6);
}

.content-about-grid {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    text-align: center;
    grid-gap: 1rem
}

.content-about-item li a {
    font-size: 25px;
    color:  rgb(255, 255, 255);
    margin-top: 20px;
    background-color: rgb(153, 27, 27);
    border-radius: 5%;
    width: 150px;
    margin: 10px auto;
    box-shadow: 3px 3px 5px rgba(0 ,0 , 0, 0.6);
    padding: 0 10px;
    text-decoration: none;
}

.content-about-item li{
    list-style: none;
}

.content-about-item  p {
    margin-top: 20px;
}

.content-about-item {
    padding: 40px;
}

.content-about-item li :hover {
    background-color: rgb(207, 34, 34);
    color: whitesmoke;
}

/*------end about-----*/
/*----------------------------------------------------Footer---------------------------------------*/

.footer {
    width: 100%;
    height: auto;
    background-color: rgb(41, 41, 41);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 88px;
}

.footer-item1 {
    justify-self: flex-start;
    align-self: center;
    color: gray;
}

.footer-item2 {
    justify-self: flex-end;
    align-self: center;
    color: gray;
}

/*==========================tablet============================*/

@media only screen and (max-width: 768px) {
    ul.menu {
        margin-top: 25px;  
    }
    .content-welcome img {
        width: 50%;
    }
    .content-welcome-grid {
        grid-template-columns: 1fr;  
    }
    .content-welcome-item2 h2 {
        font-size: 35px;
        margin-top: 50px;
    }
    .logo {
        margin-left: 30px;
    }
    .content-welcome-item2 p {
        margin: 30px;
        font-size: 90%;
    }
    .content-about-grid {
        grid-template-columns: 1fr;
    }
    .content-about img {
        width: 50%;
    }                               
    .footer-grid {
        margin: 0px 20px;
    }
    footer p {
        font-size: 80%;
    }
} 

/*---------------end 768 px-------------------*/

@media screen and (max-width: 650px) {
    header {
        height: 120px;
    }
    .nav-grid {
        grid-template-columns: 1fr;
    }
    .logo {
        text-align: center;
    }
    .content-welcome-item2 {
        font-size: 90%;
    }
    .content-about-item p {
        font-size: 90%;
    }
    .content-about-item img {
        width: 250px;
    }
    .content-welcome-item1 img {
        width: 80%;
    }
}
/*=================end 650px =============================*/
@media screen and (max-width: 409px) {
    header {
        height: 120px;
    }
    ul.menu li a{      
        font-size: 12px;
    }
    ::marker {
        font-size: 10px;
    }

    .myname h1 {
        margin-top: 10%;
    }
    .footer-grid {
        margin: 0px 20px;
        grid-template-columns: 1fr;
    }
    footer p {
        font-size: 80%;
    }
    .content-about-item img {
        width: 80%;
    }
    .content-welcome img {
        width: 80%;
    }
}